<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{>css}}
    <style>
    .content{
        background-color: #F6F7EB;
    }
    .bar{
      background-color: #C3C3C3;
    } 
    </style>
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-0 col-md-1">               
            </div>
            <div class="col-4 col-md-2">
                <a href="#" class="list-group-item active">
                    自我介紹
                </a>
            </div>  
            <div class="col-8 col-md-6 content">
                <h2>自我介紹</h2>
                <p>
                您好，我是廖宏文，我擅長思考問題，設法排除困難。我的個性外冷內熱，容易融入人群，我有正面積極的態度，勇於接受挑戰(自選傘兵)，我在弘光科技大學就讀資訊管理系，在系上訓練了我的思考邏輯、資料收集、分工撰寫等能力以及知識，我喜歡合作競爭，正面的競爭能提升團隊向心力、溝通能力、處理效率，我在團隊合作中能找出問題和不合理的地方，進一步釐清，並蒐集資訊提出解決的方案。<br>
                大學畢業後即開始服兵役，我在海選的時候自願當傘兵，除了勇於接受挑戰外，我是非常活在當下的，對於當兵只有一次的不願役來說，選擇兵種是一生一次的機會，我想保握住這個特殊的人生經驗，因此毅然決然地選擇的傘兵，雖然家人擔心，但是也鼓勵以及保佑我，這段旅程使我更加的把握自己的人生，更勇於挑戰人生不輕言放棄。<br>
                我的上一份工作是在台通科技股份有限公司擔任業務助理以及採購，一共服務了3年3個月，對於業務助理的應對進退已經相當熟悉，與客戶溝通協調上都能圓滿達成，公司因故結束營業，我相信憑藉著這3年的工作經驗以及服務的熱忱可以做得更好。<br>
                由於自己是資訊管理系畢業，對於程式的撰寫也有一定的能力，大學時期專題是替系上實作一個線上報名系統，由PHP實作並且搭配MySQL做資料庫的應用，Java程式語言也有一定程度，並且自學電腦硬體裝修，外語能力英文程度可以基本的交談，高中時期有全民英檢初級證照，具備一定的英文溝通能力，目前報名小型車駕駛考照未來將具備小型車駕駛資格。<br>
                目前我具備了業務能力、採購的實務經驗、程式語言的基礎、勇於挑戰的心、對服務的熱忱，不管公司指派什麼工作給我，我相信我都能學習、調適成為公司需要的人，感謝您的觀看。 
                </p>
            </div>
            <div class="col-12 col-md-3"></div>
        </div>               
    </div>
    {{>footer}}
    {{>js}}
</body>
</html>