<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{>css}}
    <style>
    .content{
        background-color: #F6F7EB;
        overflow:auto;
        flex:1;
    }
    .bar{
      background-color: #C3C3C3;
    }
    .sideBar{
        padding: 0;
    }
    </style>
    <title>{{title}}</title>
</head>
<body class="d-flex flex-column">
    {{>header}}
    <div id="page-content" class="container-fluid">
        <div class="row">
            <div class="col-0 col-md-1">               
            </div>
            <div class="col-3 col-md-2 sideBar">
                {{>InSideLink}}
            </div>  
            <div class="col-9 col-md-6 content">
                <h2>自我介紹</h2>
                <p>
                    我擅長思考問題，設法排除困難。個性外冷內熱，容易融入人群，我有正面積極的態度，勇於接受挑戰。
                </p>
                <p>
                    我在弘光科技大學就讀資訊管理系， 在系上訓練了我的思考邏輯、資料收集、分工撰寫等能力以及知識，我喜歡合作競爭，正面的競爭能提升團隊向心力、溝通能力、處理效率，我在團隊合作中能找出問題和不合理的地方，進一步釐清，並蒐集資訊提出解決的方案。
                </p>
                <p>
                    大學畢業後即開始服兵役，我在海選的時候自願當傘兵，除了勇於接受挑戰外，我是非常活在當下的，對於當兵只有一次的不願役來說，選擇兵種是一生一次的機會，我想保握住這個特殊的人生經驗，因此毅然決然地選擇傘兵，雖然家人擔心，但是也鼓勵以及保佑我，這段旅程使我更加的把握自己的人生，更勇於挑戰人生不輕言放棄。
                </p>
                <p>
                    我的上一份工作是在台通科技股份有限公司擔任業務助理以及採購，一共服務了3年3個月，對於業務助理的應對進退已經相當熟悉，與客戶溝通協調上都能圓滿達成，公司因故結束營業，我相信憑藉著這3年的工作經驗以及服務的熱忱可以做得更好。
                </p>
                <p>
                    由於自己是資訊管理系畢業，對於程式的撰寫也有一定的能力，大學時期專題是替系上實作一個線上報名系統，由PHP實作並且搭配MySQL做資料庫的應用，Java程式語言也有一定程度， 並且自學電腦硬體裝修，外語能力英文程度可以基本的交談，高中時期有全民英檢初級證照，具備一定的英文溝通能力。
                </p>
                <p>
                    目前我具備了業務基礎、採購的實務經驗、程式語言的能力、勇於挑戰的心、對服務的熱忱，不管公司指派什麼工作給我，我相信我都能學習、調適成為公司需要的人，感謝您的觀看。
                </p>
                <h4>2019-08-23</h4>
                <p>
                    目前已取得小型車駕照。
                </p>
                <p>
                    您現在觀看的網站是使用Node.js進行編輯，先前網站是以php為語言進行編輯<a href="https://adjustmyself.azurewebsites.net">website before</a>，目前實作了node串接api，使用的是mapbox.com and darksky.net兩個api。前端接受user傳送的字串進行mapbox經緯度查詢，並提供給darksky進行<a href="/node">天氣預報</a>回覆，接下來的目標是連接資料庫MongoDB和REST APIs以及接觸React, keep learning... 
                </p>
                <h4>2019-11-07</h4>
                <p>
                    有幸錄取中興大學職前訓練，在為期兩個月每日8小時的充實訓練中，學習到機器學習，深度學習，Python，Django，大數據分析這些目前相當熱門的應用。
                </p>
                <p>
                    在課程中，了解到AI在未來的重要性，也深深體認到自己數學能力的不足，AI運算的演算法中包含了大量的數學推導，也期許自己不只在程式方面，數學方面也要更加精進。
                </p>
                <p>
                    此次訓練的結訓專題是以Python中的Django+Keras為架構實際架設一個<a href="/python">webcam server</a>，主要功能是1.擷取產品的特徵照片2.分析照片是否為不良品3.分析照片為哪一種類(樣本為5種)，網站的前後端為我負責的部分，程式碼在<a href="https://github.com/adjustmyself/webcam">github</a>上可以看到。
                </p>
            </div>
            <div class="col-12 col-md-3"></div>
        </div>               
    </div>
    {{>footer}}
    {{>js}}
</body>
</html>