<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{>css}}
    <style>
    .content{
        background-color: #F6F7EB;
    }
    </style>
    <title>{{title}}</title>
</head>
<body class="d-flex flex-column">
    {{>header}}
    <div id="page-content" class="container-fluid">
    <div class="row">
        <div class="col-0 col-md-1">               
        </div>
        <div class="col-3 col-md-2 sideBar">
            {{>sideLink}}
        </div>  
        <div class="col-9 col-md-6 content">
            <h2>Weather Today</h2>
            <p>Use this site to get your weather!</p>
            <p>available in English</p>
            <form>
            <input placeholder="Location">
            <button>Search</button>
            </form>
            <p id="location-p"></p>
            <p id="summary-p"></p>
            <p id="temperature-p"></p>
            <p id="rainrate-p"></p>
        </div>
        <div class="col-12 col-md-3"></div>
    </div>               
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
    {{>js}}
</body>
</html>