  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>@廖宏文</small>
      <small>adjustmyeslfe@gmail.com</small>
      <a href="https://www.facebook.com/adjustmyself">
        <img src="img/facebook.png" alt="facebook" class="footerImg"/>
      </a>
      <a href="https://github.com/adjustmyself">
        <img src="img/github.png" alt="github" class="footerImg"/>
      </a>
    </div>
  </footer>