        <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #124E78;">
          <a class="navbar-brand" href="/"><img class="head-img" src="img/keyboard.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsIndex" aria-controls="navbarsIndex" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarsIndex">
            <ul class="navbar-nav mr-auto">
              {{!-- <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li> --}}
              <li class="nav-item">
                <a class="nav-link" href="/introduction">自我介紹</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/learn">學習列表</a>
              </li>
            </ul>
          </div>
        </nav>