    <a href="/learn" class="list-group-item active sideLink" style="text-decoration: none;">
        學習列表
    </a>
    <a href="/html" class="list-group-item sideLink" style="text-decoration: none;">HTML</a>
    <a href="/cssContent" class="list-group-item sideLink" style="text-decoration: none;">CSS</a>
    <a href="/bootstrap" class="list-group-item sideLink" style="text-decoration: none;">Bootstrap</a>
    <a href="/node" class="list-group-item sideLink" style="text-decoration: none;">Node.js</a>
    <a href="/mongodb" class="list-group-item sideLink" style="text-decoration: none;">Mongodb</a>
    <a href="/react" class="list-group-item sideLink" style="text-decoration: none;">React</a>
    <a href="/python" class="list-group-item sideLink" style="text-decoration: none;">Python</a>
    <a href="/php" class="list-group-item sideLink" style="text-decoration: none;">PHP</a>